{% extends "layout.html" %}


{%block content %}
<div class="map col-lg-8">
  <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
</div>

<div class="selector col-lg-4">
  <h1> Hotel</h1>
    <select name="select">
      {% for hotel in templateHotels %}
      <option value="hotel" selected>{{ hotel.name }}</option>
      {% endfor %}
    </select>
  <h1> Restaurant</h1>
    <select name="select">
      {% for restaurant in templateRestaurants %}
      <option value="restaurant" selected>{{ restaurant.name }}</option>
      {% endfor %}
    </select>
  <h1> Activity</h1>
    <select name="select">
      {% for activity in templateActivities %}
      <option value="activity" selected>{{ activity.name }}</option>
      {% endfor %}
    </select>
</div>
{% endblock %}


