<html>
    <body>
        <div>
        <nav class="navbar navbar-default">
      
          <h1 class="page-header">Sweet Nav Bar! <small>choose a hotel!</small></h1>
          
        </div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li> 
            <li >About</li>
            <li >Contact</li>
          </ol>
    {% block content%}
    {% endblock%}
       
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/stylesheets/style.css" rel="stylesheet">

    </body>
</html>
